SUPABASE_DB_HOST=aws-0-<region>.pooler.supabase.com
SUPABASE_DB_USER=postgres.<project-ref>
SUPABASE_DB_PASSWORD=
OPENLINEAGE__TRANSPORT__TYPE=file
OPENLINEAGE__TRANSPORT__LOG_FILE_PATH=s3://<bucket>/lineage/ol_events.jsonl
OPENLINEAGE__TRANSPORT__APPEND=true
OPENLINEAGE__TRANSPORT__STORAGE_OPTIONS={"auto_mkdir": false}
OPENLINEAGE_NAMESPACE=nhl
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
