SUPABASE_DB_HOST=aws-0-<region>.pooler.supabase.com
SUPABASE_DB_USER=postgres.<project-ref>
SUPABASE_DB_PASSWORD=
OPENLINEAGE__TRANSPORT__TYPE=file
OPENLINEAGE__TRANSPORT__LOG_FILE_PATH=s3://<bucket>/lineage
OPENLINEAGE__TRANSPORT__APPEND=true
OPENLINEAGE_NAMESPACE=nhl
